.background-box {
    -fx-background-color: #363030;
}

.label-header {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Lato-Reg"
}

.label-text-white {
    -fx-font-size: 35px;
    -fx-text-fill: white;
    -fx-font-family: "Lato-Reg"
}

.label-text-white-small {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-family: "Lato-Reg";
}

.label-text-clock-big {
    -fx-font-size: 45px;
    -fx-text-fill: white;
    -fx-font-family: "Lato";
}

.label-text-clock-small {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-family: "Lato";
}
.label-text-weather-small {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-family: "Lato";
}
.label-text-weather {
    -fx-text-fill: white;
    -fx-font-family: "Lato";
}

.label-text-weather.bold {
    -fx-font-weight: bold;
}

.label-text-weather.current-town {
    -fx-font-size: 12px;
}
.label-text-weather.current-temp {
    -fx-font-size: 12px;
}
.label-text-weather.current-temp-max {
    -fx-font-size: 14px;
}
.label-text-weather-forecast-day {
    -fx-font-size: 9px;
    -fx-text-fill: white;
    -fx-font-family: "Lato";
}
.label-text-weather-forecast-label {
    -fx-font-size: 10px;
    -fx-text-fill: white;
    -fx-font-family: "Lato";
    -fx-fill-width: true;
}
.value-box {
    -fx-pref-width: 300px;
    -fx-pref-height: 150px;
}

.transparent-box {
    -fx-background-color: #5656567f;
    -fx-background-radius: 10;
}
.label-header-column {
    -fx-font-size: 20px;
    -fx-background-color: #555;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-family: "Lato";
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-min-width: 100px;
    -fx-alignment: center;
}

#pane {
    -fx-background-image: url("background_image.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

@font-face {
    -fx-font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Lato-Reg';
    src: url('../fonts/Lato-Reg.otf');
}

@font-face {
    -fx-font-family: 'Lato';
    src: url('../fonts/Lato-Reg.otf'), url('../fonts/Lato-Lig.otf'), url('../fonts/Lato-Bol.otf');
}
